@using IdentityModel
@model SellerProductCreateOrUpdateDTO
@* @model Product *@
@{
    ViewData["Title"] = "Create Product";
}
<div class="container mt-5 pt-5">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div class="row">

        <div class="col-4">
            <div id="imagePreview"></div>
        </div>


        <div class="col-6">
            <form asp-action="Create" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @* <input type="hidden" asp-for="Id" /> *@
                <input type="hidden" asp-for="SellerId" value="@User.FindFirst(JwtClaimTypes.Subject)?.Value " />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <div>
                        <textarea asp-for="Details" class="form-control" id="editor"></textarea>
                    </div>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StockAmount" class="control-label"></label>
                    <input asp-for="StockAmount" class="form-control" />
                    <span asp-validation-for="StockAmount" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Enabled" class="control-label"></label>
                    <input asp-for="Enabled" class="form-control" />
                    <span asp-validation-for="Enabled" class="text-danger"></span>
                </div>

                <div class="input-group my-3">
                    <div class="custom-file">
                        <input asp-for="ImageList" class="custom-file-input" type="file"
                            aria-describedby="inputGroupFileAddon01" multiple />
                        <label class="custom-file-label" for="inputGroupFile01">Ürün Resimlerini Seç</label>
                        @* <span asp-validation-for="ProductImages" class="text-danger"></span> *@
                        <span asp-validation-for="ImageList" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <div lass="dropdown border">
                        <select asp-for="CategoryId" class="dropdown-item border p-2"
                            asp-items="ViewBag.Category"></select>
                    </div>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <input type="submit" value="Ekle" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
    <div>
        <a asp-action="Index">Listeye Dön</a>
    </div>
</div>
</div>
@section Scripts {
    <script>
        //const ProductImages = document.getElementById('ProductImages');
        const ProductImages = document.getElementById('ImageList');
        const imagePreview = document.getElementById('imagePreview');

        ProductImages.addEventListener('change', function (event) {
            const files = event.target.files;
            if (files) {
                Array.from(files).forEach(file => {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const img = document.createElement('img');
                        img.classList.add('col-6');
                        img.classList.add('my-3');
                        img.classList.add('image-size');
                        img.src = e.target.result;
                        imagePreview.appendChild(img);

                    }
                    reader.readAsDataURL(file);
                });
            }
        });
    </script>
}
