<div class="wrap-icon-header flex-w flex-r-m">
    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
        @await Html.PartialAsync("_SearchBox")
    </div>

    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
        <i class="zmdi fa-solid fa-cart-shopping"></i>
    </div>
    <a class="icon-header-item cl2 hov-cl1 p-l-22 p-r-11 icon-header-noti" data-notify="2">
        <i class="zmdi fa-regular fa-heart" style="color: #000 !important;"></i>
    </a>
    <div class="icon-header-item dropdown show">
        <a class="nav-link dropdown-toggle" href="login.html" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="zmdi fa-regular fa-user" style="color: #000 !important;"></i>
        </a>
        <ul class="dropdown-menu" style="color: #000 !important;">
            @if (User.Identity!.IsAuthenticated)
            {
                <li class="p-2">
                    <a class="dropdown-item" asp-controller="Profile" asp-action="Details">
                        <span>Profilim</span>
                    </a>
                </li>
                <li class="p-2">
                    <a class="dropdown-item" asp-controller="Profile" asp-action="MyOrders">
                        <span>Siparişlerim</span>
                    </a>
                </li>
                if (User.IsInRole("seller"))
                {
                    <li class="p-2">
                        <a class="dropdown-item" asp-controller="Product" asp-action="Index">
                            <span>Ürünlerim</span>
                        </a>
                    </li>
                }

                if (User.IsInRole("admin"))
                {
                    <li class="p-2">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-area="Admin">
                            <span>Admin Paneli</span>
                        </a>
                    </li>
                }

                <li class="p-2">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Çıkış Yap</span>
                    </a>
                </li>

            }
            else
            {
                <li class="p-2">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <span>Giriş Yap </span>
                    </a>
                </li>
                <li class="p-2">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Register">
                        <i class="fa-solid fa-user-plus"></i>
                        <span>Kayıt Ol</span>
                    </a>
                </li>
            }

        </ul>
    </div>
</div>