@model IEnumerable<Product>
<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-45">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center">
                Related Products
            </h3>
        </div>
        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                @foreach (var item in Model)
                {
                    <div class="item-slick2 p-3">
                        @await Html.PartialAsync("_ProductListItem", item)
                    </div>
                }
            </div>
        </div>
    </div>
</section>
