@model IEnumerable<ProductCommentListDTO>

@if (Model != null && Model.Any())
{
    @foreach (var comment in Model)
    {
        <div class="flex-w flex-t p-b-68">
    <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
        <img   src="/assets/img/avatar-01.jpg" alt="AVATAR">
    </div>

    <div class="size-207">
        <div class="flex-w flex-sb-m p-b-17">
            <span class="mtext-107 cl2 p-r-20">
                @comment.UserName
            </span>
            <span class="wrap-rating fs-18 cl11 pointer">
                @for (int i = 1; i <= 5; i++)
                        {
                            <i class="item-rating pointer zmdi @(i <= comment.StarCount ? "zmdi-star" : "zmdi-star-outline")"></i>
                        }
                        <input class="dis-none" type="number" name="rating" value="@comment.StarCount">
                    </span>
                </div>

                <p class="stext-102 cl6">
                    @comment.Text
                </p>
            </div>
        </div>
    }
}
