@model IEnumerable<CategoryListDTO>



<li class="dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
        Kategoriler
    </a>
    <div class="dropdown-menu">
        @if (Model != null && Model.Any())
        {
            @foreach (var anaKategori in Model)
            {
                <a class="dropdown-item" asp-controller="Home" asp-action="Listing" asp-route-id="@anaKategori.Id">
                    <span>@anaKategori.Name</span>
                </a>
            }
        }
    </div>
</li>
<li>
    <a class="nav-link" asp-controller="Home" asp-action="AboutUs">
        <span>Hakkımızda</span>
    </a>
</li>
<li>
    <a class="nav-link" asp-controller="Home" asp-action="Contact">
        <span>İletişim</span>
    </a>
</li>
