@model IEnumerable<Product>

<section class="man-banner spad me-0 pe-0">

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="/assets/img/products/women-large.jpg">
                    <h2>Women’s</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <li class="active">Clothings</li>
                        <li>HandBag</li>
                        <li>Shoes</li>
                        <li>Accessories</li>
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    @foreach (var item in Model)
                    {
                        @await Html.PartialAsync("_ProductListItem", item)
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@* @await Html.PartialAsync("_QuickViewModal") *@