@model LoginViewModel
@{
    Layout = "_LayoutRegister";
}


<!-- Outer Row -->
<div class="AdminDiv row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <form asp-action="Login" class="user">
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <input asp-for="Email" class="form-control form-control-user"
                                        placeholder="Email Adresi">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Password" class="form-control form-control-user"
                                        placeholder="Parola">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input asp-for="RememberMe" class="custom-control-user">
                                        <label asp-for="RememberMe" class="custom-control-user"></label>
                                    </div>
                                </div>

                                <div class="form-group my-3">
                                    <input type="submit" value="Giriş Yap" class="btn btn-primary btn-user btn-block" />
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" asp-controller="Account" asp-action="ForgotPassword">
                                    <span>Şifremi Unuttum? </span>
                                </a>
                            </div>
                            <div class="text-center">
                                <a class="small" asp-controller="Account" asp-action="Register">
                                    <span>Kayıt Ol!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
